.bvn {
	text-align: center;
	color: white;
	font-family: monospace;
	font-size: 75px;
	background-color: magenta;
	background:    -webkit-linear-gradient(#9900ff, #20124d 50%, #9900ff);
    background:    linear-gradient(#9900ff, #20124d 50%, #9900ff);
    border:        5px solid #999999;
    border-radius: 10px;
}

.bouton {
	background:    #073763;
	background:    -webkit-linear-gradient(#00ffff, #0c343d 50%, #00ffff);
    background:    linear-gradient(#00ffff, #0c343d 50%, #00ffff);
	border:        5px solid #999999;
	border-radius: 10px;
	padding:       10px 40px;
	color:         #ffffff;
	display:       inline-block;
	font:          normal 400 20px/1 "Pacifico", cursive;
	text-align:    center;
	text-shadow:   4px 4px #000000;
}

.boutonpv {
	background:    #7f6000;
    background:    -webkit-linear-gradient(#ffff00, #7f6000 50%, #ffff00);
    background:    linear-gradient(#ffff00, #7f6000 50%, #ffff00);
    border:        5px solid #999999;
    border-radius: 10px;
    padding:       10px 30px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal 400 20px/1 "Pacifico", cursive;
    text-align:    center;
    text-shadow:   4px 4px #000000;
}

.center {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}